Data Analytics II
1. Implement logistic regression using Python/R to perform classification on
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision,
Recall on the given dataset.

## Importing Libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

## Loading the Dataset

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

## Data Cleaning

In [6]:
X = df[['Gender','Age','EstimatedSalary']]
y = df[['Purchased']]

In [7]:
encode_gender = {
    'Male':0,
    'Female':1
}

X['Gender'] = X['Gender'].apply(lambda x:encode_gender[x])

/tmp/ipykernel_5940/2596384193.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Gender'] = X['Gender'].apply(lambda x:encode_gender[x])

In [8]:
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)
X = pd.DataFrame(X)
X

       0         1         2
0    0.0  0.023810  0.029630
1    0.0  0.404762  0.037037
2    1.0  0.190476  0.207407
3    1.0  0.214286  0.311111
4    0.0  0.023810  0.451852
..   ...       ...       ...
395  1.0  0.666667  0.192593
396  0.0  0.785714  0.059259
397  1.0  0.761905  0.037037
398  0.0  0.428571  0.133333
399  1.0  0.738095  0.155556

[400 rows x 3 columns]

## Train Test Split

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

## Model Training and Prediction

In [10]:
clf = LogisticRegression().fit(X_train,y_train)

/home/pict/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
predictions = clf.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1])

## Evaluating model performance

In [12]:
report = classification_report(y_test,predictions,output_dict=True)

In [13]:
report = pd.DataFrame(report).transpose()

In [14]:
report

              precision    recall  f1-score  support
0              0.870130  0.985294  0.924138    68.00
1              0.956522  0.687500  0.800000    32.00
accuracy       0.890000  0.890000  0.890000     0.89
macro avg      0.913326  0.836397  0.862069   100.00
weighted avg   0.897775  0.890000  0.884414   100.00

In [15]:
mat = confusion_matrix(y_test,predictions)
mat

array([[67,  1],
       [10, 22]])

In [16]:
tn, fp, fn, tp = confusion_matrix(y_test,predictions).ravel()
print("The number of True Negatives are:{}".format(tn))
print("The number of False Positives are:{}".format(fp))
print("The number of False Negatives are:{}".format(fn))
print("The number of True Positives are:{}".format(tp))

The number of True Negatives are:67
The number of False Positives are:1
The number of False Negatives are:10
The number of True Positives are:22

In [17]:
error_rate = (fp+fn)/(fp+fn+tp+tn)
error_rate

0.11